<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello Spring Boot!</title>
    <!--/*/ <th:block th:include="fragments/head :: head"/> /*/-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/core.css"
          th:href="@{css/core.css}" rel="stylesheet" media="screen"/>
</head>
<body>
  	<div class="search col-sm-11" th:fragment="indeed-searchbar">
  		<div id="indeed-search-wrapper" class="row col-sm-12">
			<form id="indeed-jobform">
				<div id="qc" class="col-sm-5">
	 				<input type="text" placeholder="job title" name="q" id="q" class="form-control" />
				</div>
				<div id="lc" class="col-sm-4">
					<input type="text" placeholder="city, state, or zip" name="l" id="l" class="form-control" />
				</div>
				<div id="findjobs" class="col-sm-3">
					<input type="submit" value="Find Jobs" class="btn btn-primary form-control"/>
				</div>
			</form>
		</div>
		<ul class="jobs"></ul>

	<script type="text/javascript" th:inline="javascript">
		var form = $("#indeed-jobform");
		$(form).submit(function(event) {
		    // Stop the browser from submitting the form.
		    event.preventDefault();
		    $('.jobs').html('');
		    var formData = $(form).serializeArray();
		    var appendDate = [{"name":"publisher","value":"8808475094207261" }, 
		                      {"name":"v","value": "2"}, 
		                      {"name":"format","value": "json"}, 
		                      {"name":"sort","value": "relevance"},
		                      {"name":"radius","value": "25"},
		                      {"name":"start","value": "0"},
		                      {"name":"limit","value": "10"}];
		    $.merge(formData, appendDate);
		    $.ajax({
		        type: "GET",
		        url: "http://api.indeed.com/ads/apisearch",
		        dataType: "json",
		        data: formData
		    }).done(function(response) {
			    // Make sure that the formMessages div has the 'success' class.
			    //$(formMessages).removeClass('error');
			    //$(formMessages).addClass('success');
			
			    // Set the message text.
			    //$(formMessages).text(response);
				
			    // Clear the form.
			    $('#q').val('');
			    $('#l').val('');
			    var totalresults = response.totalresults;
			    var jobs = response.results;
			    jobs.forEach(function(job) {
			    	//if (job.sponsored == "true") {
			    		job_handler(job);;
			    	//}
			    });
			    console.log(jobs);
			}).fail(function()  {
			    
			}); 
		});
		function job_handler(job) {
			var jobtitle = job.jobtitle;
			var company = job.company;
			var location = job.formattedLocation;
			var sponsored = job.sponsored;
			var url = job.url;
			var job_row = 
                '<li class="job row col-sm-12">' + '<a href="' + url +'">' + 
                '<div class="position col-xs-8">' + jobtitle + '<div class="company">' + company + '</div></div>' +
                '<div class="location col-xs-4">' + location + '</div></a></li>'
            $(".jobs").append(job_row);
		}
	</script>
  </div>
</body>
</html>