@media (min-width: 768px) {
	/* make sidebar nav vertical */ 
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
ul {
    list-style-type: none;
    padding-left: 0;
}
.search .row {
  	padding-top:10px;
	padding-bottom:10px;
}
#indeed-search-wrapper {
	background-color: green;
}
.jobs .job.row {
	border: 1px solid gray;
	border-bottom: none;
}
li.job:last-child {
	border-bottom: 1px solid gray !important;
}